<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="cdn.azure" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="xnebula" value="http://172.16.12.100:5555/v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>
